/* PrimeNG styles - using Aura theme configured in app.config.ts */
@import "primeicons/primeicons.css";
@import "tailwindcss";
:root{
	--color-azul: #083547;
	--color-pastel: #B5EAD7;
}
html {
	scroll-behavior: smooth;
	font-family: "Roboto", sans-serif;

}